protocol = "pi-proem"
doc = ""
traits = ["has-mapping", "has-measure-trigger", "is-sensor", "is-daemon"]

[links]
source = "https://github.com/yaq-project/yaqd-pi"
bugtracker = "https://github.com/yaq-project/yaqd-pi/issues"

[installation]
PyPI = "https://pypi.org/project/yaqd-pi"

[[types]]
type = "record"
name = "proem_roi"
fields = [
    {"name"="x_binning", "type"="int", "default"=1},
    {"name"="y_binning", "type"="int", "default"=1},
    {"name"="left", "type"="int", "default"=0},
    {"name"="width", "type"="int", "default"=512},
    {"name"="top", "type"="int", "default"=0},
    {"name"="height", "type"="int", "default"=512}
]

[config]

[config.make]
default = "princeton_instruments"

[config.model]
default = "proEM-HS:512BX3"

[config.sensor_temperature_setpoint]
type = "float"
doc = """Set the sensor temperature in deg C. \\
        Be careful if setting to anything but -70.0 C \\
        Do not set below -80.0 C"""
default = -70.0

#[config.prism_AOI]
#type = ["null", "float"]
#doc = """Angle of incident ray on prism face in deg. \\
#         Default is None."""
#default = "__null__"
#
#[config.spectral_axis_range]
#type = ["null", "list"]
#doc = """The desired range of wavelengths that is displayed on the spectral \\
#         axis of the detector. Units of microns. First item in the list is \\
#         the bluest color, second item is the reddest e.g. [0.400, 0.915]\\
#         Default is None."""
#default = "__null__"
#
[state]

roi.type = "proem_roi"
roi.default = {}
roi.doc = "The ROI."

em_gain.type = "int"
em_gain.default = 1
#em_gain.doc = """Electron multiplication factor.\\
#                 Note: If using over 100, read manual about careful operation.\\
#                 Default is 1."""

exposure_time.type = "float"
exposure_time.default = 33.0
exposure_time.doc = "Camera sensor exposure time (in milliseconds)."

readout_count.type = "int"
readout_count.default = 1
readout_count.doc =  "Number of frames to grab in the acquisition."

adc_analog_gain.type = "string"
adc_analog_gain.default = "Low"
#adc_analog_gain.doc = """Gain setting for output amplifier.\\
#                         The gain options are Low, Medium, and High."""

[messages]

set_roi.request = [{name="roi", type="proem_roi"}]
get_roi.response = "proem_roi"

set_em_gain.request = [{name="em_gain", type="int"}]
get_em_gain.response = "int"

set_exposure_time.request = [{name="exposure_time", type="float"}]
get_exposure_time.response = "float"

set_readout_count.request = [{name="readout_count", type="int"}]
get_readout_count.response = "int"

set_adc_analog_gain.request = [{name="gain", type="string"}]
get_adc_analog_gain.response = "string"

get_sensor_temperature.response = "float"
